<div>
  <table class="normal table team-schedule-games">
    <tr class="schedules-table-header">
      <th></th>
      <th class="schide">Game</th>
      <th class="admindate">Date</th>
      <th class="home-right">Home</th>
      <th class="score-center">Score</th>
      <th class="opponentgames">Opponent</th>
      <th class="teamgameslocation">Location</th>
    </tr>
    {% for game in gamerows %}
          {% if game.pre_date %}
          <tr class="daterow">
            <td class="schide"></td>
            <td class="iframedate"><b>{{ game.kickoff }}</b></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endif %}
          <tr class="game">
          {% if game.canedit %}
            <td>
              <div class="btn-group pull-left">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-cog"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- dropdown menu links -->
                  <li><a href='game.php?id={{ game.id }}'><i class="icon-pencil"></i> Edit</a></li>
                  <li><a href='#' class='dGame' id='dGame{{ game.id }}' data-del-game-id='{{ game.id }}'> <i class='icon-remove'></i> Delete</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">iframes</li>
                  <li><a href="#roster-{{ game.id }}-modal" data-toggle="modal">Roster</a></li>
                  <li><a href="#game-{{ game.id }}-modal" data-toggle="modal">Game info</a></li>
                  <li><a href="#homeschedule-{{ game.id }}-modal" data-toggle="modal">Home Schedule</a></li>
                  <li><a href="#awayschedule-{{ game.id }}-modal" data-toggle="modal">Away Schedule</a></li>
                  <li><a href="#linktoapgame-{{ game.id }}-modal" data-toggle="modal">Event on AllPlayers.com</a></li>
                </ul>
                    <form style='margin: 0; padding: 0' name='dGame{{ game.id }}' id='dGame{{ game.id }}'>
                    <input type='hidden' class='dId' name='game_id' id='game_id' value='{{ game.id }}' />
                    <input type='hidden' name='grefresh' id='grefresh' value='comp_games.php?id={{ game.comp_id }}' />
                    </form>
              </div>
            </td>
            {{ game.rosteriframe|raw }}
            {{ game.gameiframe|raw }}
            {{ game.homeschedule|raw }}
            {{ game.awayschedule|raw }}
            {{ game.linktoapgame|raw }}
          {% else %}
            <td></td>
          {% endif %}
          <td class="schide">{{ game.comp_game_id|raw }}</td>
          <td class="admindate">{{ game.kickoff}}</td>
          <td class="home-right">{{ game.home_id|raw}}</td>
          <td class="score-center">{{ game.score|raw }}</td>
          <td>{{ game.away_id|raw }}</td>
          <td><div class="location">{{ game.field|raw }}<span class="icon-map-marker"></span></div></td>
        </tr>
    {% endfor %}
  </table>
 </div>
