{% spaceless %}
<div id="{{ modal.entity }}-{{ modal.eid }}-modal" class="modal {{ entity }}-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{ modal.entity }}-{{ modal.eid }}" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="{{ modal.entity }}-header">{{ modal.title }}</h3>
  </div>
  <div class="modal-body">
   {{ modal.body|raw}}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endspaceless %}