{% set iframe_src = 'http://www.stats.dev/player?player_id=' ~ id ~ '&iframe=1' %}
{% if settings.iframe %}
    {% set modal = { 'entity': entity, 'eid': id, 'title': full_name, 'body': '<iframe class="' ~ entity ~'-modal-iframe" id="' ~ entity ~ '-' ~ id ~ '" seamless scrolling="no" src="' ~ iframe_src ~ '" onLoad="iframeLoaded(this)"></iframe>'} %}
    <div class='player-modal-link player-name'>
        <a href='#' data-player-id='{{ id }}' id='{{ entity }}-{{ id }}'data-modal-template='{% filter escape('html') %}{% include 'modal-template.twig' %}{% endfilter %}'>
             <img src='{{ picture_url }}' class='img-polaroid player-picture player-picture-mini' alt='{{ full_name }}' onerror='imgError(this);'></img>
             {{ full_name }}
        </a>
    </div>
{% else %}
    <div class='player-popover-link player-name'>
        <a href='#' data-player-id='{{ id }}' id='{{ entity }}-{{ id }}' data-template='{% filter escape('html') %}{% include 'iframe-popover-template.twig' %}{% endfilter %}' data-title="{{ full_name }} <button type='button' class='close' id='{{ entity }}-{{ id }}' onClick='closePopover(this);'>×</button>">
            <img src='{{ picture_url }}' class='img-polaroid player-picture player-picture-mini' alt='{{ full_name }}' onerror='imgError(this);'></img>{{ full_name }}
        </a>
    </div>
{% endif %}