{% autoescape true %}
<div id='wrapper' class='container player player-{{ player_data.id }}'>
  <div class='row player-info'>
    <div class='span10'>
      <div class="row">
        <div class="span3">
          <img src='{{ player_data.picture_url }}' class='img-polaroid player-picture player-picture-medium' alt='{{ player_data.full_name }}' onerror='imgError(this);'></img>
        </div>
        <div class="span7">
          <div class="row">
            <strong> Name: </strong>{{ player_data.full_name }}
          </div>
           <div class="row">
            <strong> Team: </strong>{{ player_team.team_name }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span10">
          <table class='table table-bordered table-striped player-stats-table'>
            <tr><th colspan='6'>Statistics</th></tr>
            <tr>
              <th>Comp</th>
              <th>PTS</th>
              <th>Tries</th>
              <th>Cons</th>
              <th>Pens</th>
              <th>DGs</th>
            </tr>
            {% for game in stat_data %}
              <tr>
              {% for stat in game %}
                <td>{{ stat }}</td>
              {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



    <!--<div class="span2 pull-left">
      <img src='{{ player_data.picture_url }}' class='img-polaroid player-picture player-picture-medium' alt='{{ player_data.full_name }}' onerror='imgError(this);'></img>
    </div>
    <div class="span10 pull-left">
      <strong> Name: </strong>{{ player_data.full_name }}
    </div>
    <div class="span10 pull-left">
      <strong> Team: </strong>{{ player_team.team_name }}
    </div>
    <div class='span12 pull-left'>
      <table class='table table-bordered table-striped player-stats-table'>
        <tr><th colspan='6'>Statistics</th></tr>
        <tr>
          <th>Comp</th>
          <th>PTS</th>
          <th>Tries</th>
          <th>Cons</th>
          <th>Pens</th>
          <th>DGs</th>
        </tr>
        {% for game in stat_data %}
          <tr>
          {% for stat in game %}
            <td>{{ stat }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>-->
{% endautoescape %}
